<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NuevoModal" (click)="nuevo()">Nuevo<i class="fas fa-plus-circle"></i></button>
<h1 class="center-title">Usuarios Registrados</h1>
<table class="table table-app">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">usuario</th>
      <th scope="col">Telefono</th>
      <th scope="col">Dirreccion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lst_users">
      <th scope="row">{{item.id}}</th>
      <td>{{item.first_name}}</td>
      <td>{{item.second_name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.address}}</td>
      <td>
          <button type="button" class="btn btn-success btn-acciones" (click)="selectItemForUpdate(item)" data-toggle="modal" data-target="#NuevoModal"><i class="far fa-edit"></i></button>
          <button type="button" class="btn btn-danger btn-acciones" (click)="eliminar(item)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal nuevo-->
<form #formRegistrar="ngForm" >
  <div class="modal fade" id="NuevoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <h2 *ngIf="isedit">Editar Usuario</h2>
            <h2 *ngIf="!isedit">Nuevo Usuario</h2>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            
            <label for="Nombres">Nombres:
              <span *ngIf="!first_name.valid&&first_name.touched"
              class="label label-danger"> Nombres Obligatorio</span>
            </label>
            <input required type="text" class="form-control" id="Nombres" #first_name="ngModel" name="first_name" [(ngModel)]="new_user.first_name" placeholder="Nombres">
           
          </div>
          <div class="form-group">
            <label for="Apellidos">Apellidos:
              <span *ngIf="!second_name.valid&&second_name.touched"
              class="label label-danger"> Apellidos Obligatorio</span>
            </label>
            <input required type="text" class="form-control" id="Apellidos" #second_name="ngModel" name="second_name" [(ngModel)]="new_user.second_name" placeholder="Apellidos">
          </div>
          <div class="form-group">
            <label for="Usuario">Usuario:
                <span *ngIf="!username.valid&&username.touched"
                class="label label-danger"> Usuario Obligatorio</span>
            </label>
            <input required type="text" class="form-control" id="Usuario" #username="ngModel" name="username" [(ngModel)]="new_user.username" placeholder="Usuario">
          </div>
          <div class="form-group">
            <label for="Nombres">Telefono:
                <span *ngIf="!phone.valid&&phone.touched"
                class="label label-danger"> Telefono Obligatorio</span>
            </label>
            <input required type="text" class="form-control" id="Telefono" #phone="ngModel" name="phone" [(ngModel)]="new_user.phone" placeholder="Telefono">
          </div>
          <div class="form-group">
            <label for="Nombres">Dirreccion:
                <span *ngIf="!address.valid&&address.touched"
                class="label label-danger"> Telefono Obligatorio</span>
            </label>
            <input required type="text" class="form-control" id="Dirreccion" #address="ngModel" name="address" [(ngModel)]="new_user.address" placeholder="Dirreccion">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button   [disabled]="!formRegistrar.form.valid" class="btn btn-success" data-dismiss="modal" value="Guardar" (click)="saveOrUpdate()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>